= image_tag @question.organization.banner.mobile, id: 'organization_banner', id: 'organization_banner'
.container#voting.voting
  .banner_container
    .banner_img
  .voting-container
    .question
      %h1= @question.title
      = image_tag @question.cover_image, id: 'cover_image'
      .question-content
        = @question.description

    =  form_for Vote.new, url: organization_question_votes_path(@question) do |f|
      .vote-actions
        .row
          .col-xs-12
            .action
              %label.btn.btn-vote.btn-yes
                Yes
                = f.radio_button :vote_type, Vote::YES
            .action(type="submit")
              %label.btn.btn-vote.btn-maybe
                Maybe
                = f.radio_button :vote_type, Vote::MAYBE
            .action
              %label.btn.btn-vote.btn-no
                No
                = f.radio_button :vote_type, Vote::NO
      %label.checkbox.info.text-center
        = check_box_tag :more_info, true, true
        %span.check-sign
        %span I’d like to hear more from Melbourne City (?)

    = render partial: 'questions/footer', locals: { question: @question }

:javascript
  $(document).ready(function() {
    $('.vote-actions .action label').on('click', function(e) {
      $(e.target).find('input').prop('checked', true);
      $('form').submit();
      return false;
    })
  })