= link_to (image_tag @question.organization.banner.desktop, id: 'organization_banner', id: 'organization_banner'), root_url(subdomain: @question.organization.slug)

.container#voting.voting
  .banner_container
    .banner_img
  .voting-container
    .question
      .row
        .col-xs-12
          .right-col
            .row
              .col-md-11
                %h1= @question.title
            .share-icon.desktop
          .left-col
            .img
              = image_tag @question.question_image.desktop, id: 'question_image'
            .voting-info.desktop
              .col-xs-6.text-right
                .row= days_left(@question.end_date)
              .col-xs-6.text-left
                .row= pluralize(@question.votes.count, 'Vote')
          .right-col
            .question-content
              = @question.description

            =  form_for Vote.new, url: organization_question_votes_path(@question) do |f|
              .vote-actions
                .row
                  .col-xs-12
                    .action
                      %label.btn.btn-vote.btn-yes
                        .glyphicon.glyphicon-ok.desktop-inline
                        Yes
                        = f.radio_button :vote_type, Vote::YES
                    .action(type="submit")
                      %label.btn.btn-vote.btn-maybe
                        .glyphicon.glyphicon-minus.desktop-inline
                        Maybe
                        = f.radio_button :vote_type, Vote::MAYBE
                    .action
                      %label.btn.btn-vote.btn-no
                        .glyphicon.glyphicon-remove.desktop-inline
                        No
                        = f.radio_button :vote_type, Vote::NO
            / %label.checkbox.info.text-center
            /   = check_box_tag :more_info, true, true
            /   %span.check-sign
            /   %span I’d like to hear more from Melbourne City (?)

    = render partial: 'questions/footer', locals: { question: @question }

:javascript
  $(document).ready(function() {
    $('.vote-actions .action label').on('click', function(e) {
      $(e.target).find('input').prop('checked', true);
      $('form').submit();
      return false;
    })
  })
- if session[:voted]
  :javascript
    $(document).ready(function() {
      vote = '"#{session[:voted]}"';
      $('input[value=' + vote +']').prop('checked', true);
      $('form').submit();
    })
