- votes_chart = @question.vote_percentages
= image_tag @question.organization.banner.mobile, id: 'organization_banner', id: 'organization_banner'
.container#voting.voting
  .voting-container
    .question
      %h1= @question.title
      %h3.italic Thank you. Current votes:

    .chart-result.chart
      .yes.row
        .col-xs-12.text-left
          .bar(style="width: #{ votes_chart[:yes][:width] }%") Yes
          .percentage.pull-right.text-right #{ votes_chart[:yes][:percent] } %
      .maybe.row
        .col-xs-12.text-left
          .bar(style="width: #{ votes_chart[:maybe][:width] }%") Maybe
          .percentage.pull-right.text-right #{ votes_chart[:maybe][:percent] } %
      .no.row
        .col-xs-12.text-left
          .bar(style="width: #{ votes_chart[:no][:width] }%") No
          .percentage.pull-right.text-right #{ votes_chart[:no][:percent] } %


    = render partial: 'questions/reasons_list', locals: { reasons: @reasons, question: @question, vote: @vote, reason_type: @vote_type }

    = render partial: 'questions/footer', locals: { question: @question }
