- votes_chart = @question.vote_percentages

.container#voting.voting
  .banner_container
    .banner_img
      = image_tag @question.cover_image.mobile, class: 'cover_image'
  .voting-container
    .question
      %h1= @question.title
      %h3.italic Thank you. Current votes:

    .chart-result.chart
      .yes.row
        .pull-left.text-left.col-xs-2 Yes
        .col-xs-8
          .bar(style="width: #{ votes_chart[:yes][:width] }%")
        .percentage.pull-right.text-right.col-xs-2 #{ votes_chart[:yes][:percent] } %
      .maybe.row
        .pull-left.text-left.col-xs-2 Maybe
        .col-xs-8
          .bar(style="width: #{ votes_chart[:maybe][:width] }%")
        .percentage.pull-right.text-right.col-xs-2 #{ votes_chart[:maybe][:percent] } %
      .no.row
        .pull-left.text-left.col-xs-2 No
        .col-xs-8
          .bar(style="width: #{ votes_chart[:no][:width] }%")
        .percentage.pull-right.text-right.col-xs-2 #{ votes_chart[:no][:percent] } %


    = render partial: 'questions/reasons_list', locals: { reasons: @reasons, question: @question, vote: @vote, reason_type: @vote_type }

    = render partial: 'questions/footer', locals: { question: @question }
