- votes_chart = @question.vote_percentages
= image_tag @question.organization.banner.desktop, id: 'organization_banner', id: 'organization_banner'
.container#voting.voting
  .voting-container
    .question
      .row
        .col-xs-12
          .right-col
            %h1
              = @question.title
              .share-icon.desktop

          .left-col.desktop
            .img
              = image_tag @question.question_image.desktop, id: 'question_image'
            .voting-info.clearfix
              .col-xs-6.text-right
                .row= days_left(@question.end_date)
              .col-xs-6.text-left
                .row= pluralize(@question.votes.count, 'Vote')

            = render partial: 'chart', locals: { votes_chart: votes_chart, klass: 'desktop' }

          .right-col.desktop
            .question-content
              = @question.description

          .right-col
            = render partial: 'questions/reasons_list', locals: { reasons: @reasons, question: @question, vote: @vote, reason_type: @vote_type }

        .clearfix
        = render partial: 'questions/footer', locals: { question: @question }
