- votes_chart = @question.vote_percentages
= image_tag @question.organization.banner.mobile, id: 'organization_banner', id: 'organization_banner'
.container#voting.voting
  .voting-container
    .question
      %h1= @question.title
      %h3.italic Here are the results:

    .chart-result.chart
      .yes.row
        .pull-left.text-left.col-xs-2 Yes
        .col-xs-8
          .bar(style="width: #{ votes_chart[:yes][:width] }%")
        .percentage.pull-right.text-right.col-xs-2 #{ votes_chart[:yes][:percent] } %
      .maybe.row
        .pull-left.text-left.col-xs-2 Maybe
        .col-xs-8
          .bar(style="width: #{ votes_chart[:maybe][:width] }%")
        .percentage.pull-right.text-right.col-xs-2 #{ votes_chart[:maybe][:percent] } %
      .no.row
        .pull-left.text-left.col-xs-2 No
        .col-xs-8
          .bar(style="width: #{ votes_chart[:no][:width] }%")
        .percentage.pull-right.text-right.col-xs-2 #{ votes_chart[:no][:percent] } %

  %hr
  .reason-list.yes
    %h3 #{ @question.votes.yes.count } voted "YES":

    %ul.results
      - @question.reasons_for.each do |reason|
        %li
          .count= reason.votes
          .reason= reason.name
          - if reason.user_contributed === true
            .icon

  %hr
  .reason-list.maybe
    %h3 #{ @question.votes.maybe.count } voted "MAYBE":

    %ul.results
      - @question.reasons_maybe.each do |reason|
        %li
          .count= reason.votes
          .reason= reason.name
          - if reason.user_contributed === true
            .icon

  %hr
  .reason-list.no
    %h3 #{ @question.votes.no.count } voted "NO":

    %ul.results
      - @question.reasons_against.each do |reason|
        %li
          .count= reason.votes
          .reason= reason.name
          - if reason.user_contributed === true
            .icon

  = render partial: 'questions/footer', locals: { question: @question, show_know_more_about_you: true }
