#voting_home
  .banner_container
    .banner_img
      = image_tag @question.cover_image.mobile
  .main_container
    .main_textwrap
      .title_wrap
        %h1= @question.title
      .content_description
        %p= @question.description
    / EOF MAIN_TEXTWRAP
    .down_arrow.text-center
      = image_tag 'down_btn.png'
  .date_votes
    %span.end_month
      %p=  "Ends: #{@question.end_date}"
    %span.votes
      %p Votes: 401
  =  form_for Vote.new, url: organization_question_votes_path(@question), html: { method: :post } do |f|
    = f.hidden_field :vote_type
    .yes_no
      .container
        .row
          %ul.yes_no_list.list-unstyled.list-inline
            %li
              %a.yes.hoveranimate Yes
            %li
              %a.no.hoveranimate No
    .check_text
      %input#checkboxG1.css-checkbox{:checked => "checked", :name => "more_info", :type => "checkbox"}
      %label.css-label{:for => "checkboxG1"}
      .check_description
        %p I’d like to hear more from City of Melbourne.
      .submit_btn.voting
        %button.hoveranimate{:type => "submit"} Submit