.container#voting.voting
  .banner_container
    .banner_img
      = image_tag @question.cover_image.mobile, class: 'cover_image'
  .voting-container
    .question
      %h1= @question.title
      .question-content
        = @question.description

    =  form_for Vote.new, url: organization_question_votes_path(@question) do |f|
      .vote-actions
        .row
          .col-xs-12
            .action
              %label.btn.btn-vote.btn-yes
                Yes
                = f.radio_button :vote_type, Vote::YES
            .action(type="submit")
              %label.btn.btn-vote.btn-maybe
                Maybe
                = f.radio_button :vote_type, Vote::MAYBE
            .action
              %label.btn.btn-vote.btn-no
                No
                = f.radio_button :vote_type, Vote::NO
      %label.checkbox.info.text-center
        = check_box_tag :more_info, true, true
        %span.check-sign
        %span I’d like to hear more from Melbourne City (?)

    .row.voting-info
      .col-xs-6.text-right
        = days_left(@question.end_date)
      .col-xs-6.text-left
        = pluralize(@question.votes.count, 'Vote')

    .row.social-networks
      .social-ntw.twitter
      .social-ntw.facebook
      .social-ntw.linkedin

    .row
      .logo.text-center= image_tag('townhall-logo.png')

:javascript
  $(document).ready(function() {
    $('.vote-actions .action label').on('click', function(e) {
      $(e.target).find('input').prop('checked', true);
      $('form').submit();
      return false;
    })
  })