= form_for [:organizer, @voting], html: { role: 'form', class: 'form-horizontal' } do |f|
  .col-md-8
    .panel
      .panel-heading
        %span.panel-title= @voting.title
      = render partial: 'organizer/votings/form', locals: {f: f}   
  .col-md-4#reasons
    .panel
      .panel-heading
        %span.panel-title Reasons For
      .reasons_for
        = f.fields_for :reasons_for do |reasons_for|
          = render 'reasons_for_fields', f: reasons_for
        .links
          = link_to_add_association 'Add another reason', f, :reasons_for, class: 'btn btn-sm btn-primary btn-block'
    .panel
      .panel-heading
        %span.panel-title Reasons Against
      .reasons_against
        = f.fields_for :reasons_against do |reasons_against|
          = render 'reasons_for_fields', f: reasons_against
        .links
          = link_to_add_association 'Add another reason', f, :reasons_against, class: 'btn btn-sm btn-primary btn-block'
 

      