= @voting.title
= simple_form_for [:organizer, @voting], html: {class: 'form-horizontal'}  do |f|
  = render partial: 'organizer/questions/common_fields', locals: {f: f}  

  #reasons
    .reasons_for.col-xs-6
      = f.simple_fields_for :reasons_for do |reasons_for|
        = render 'reasons_for_fields', f: reasons_for
      .links
        = link_to_add_association 'Add another reason', f, :reasons_for, class: 'btn btn-default btn-xs'
    .reasons_against.col-xs-6
      = f.simple_fields_for :reasons_against do |reasons_against|
        = render 'reasons_for_fields', f: reasons_against
      .links
        = link_to_add_association 'Add another reason', f, :reasons_against, class: 'btn btn-default btn-xs'
  .div.col-xs-12
    = f.button :submit
