-if @role == 'organizer'
  #admin_registrations
    .col-sm-6
      = image_tag 'townhall-logo.png'
      #steps
        %h2 Step 1 of 3
        .progress_bar
          .step.step_1
          .step.step_2
          .step.step_2
        
      %p Okay, let's get started.
      %p Setting up takes less than a minute and we don't need your credit card.
      
      #sign_in_form
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :bootstrap_horizontal_form)  do |user_form|
          .row
            .col-md-12
              = user_form.input       :email
              = user_form.input       :password
              %label.reason.checkbox.info
                = user_form.check_box :remember_me, checked: true
                %span.check-sign
                %span.color-black.small-text.reason-content Remember me
              = user_form.button      :submit, 'Sign in',  class: 'btn btn-yes large-text btn-block'
              .has-error 
                = user_form.error :terms
              .col-xs-12.text-center
                %p.decorated
                  %span or
                %p.no_account Already have an account?
                = link_to "Register", new_registration_path(resource_name), class: 'large-text'

    .col-sm-6.hidden-xs
      .signup_image= image_tag 'admin/featured-image.png'

- else 
  #sign_in_form
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :bootstrap_horizontal_form)  do |user_form|
      .row
        .col-sm-6.col-sm-offset-3
          %h1 Sign in to townhall
          %br
          = user_form.input       :email
          = user_form.input       :password
          
          = user_form.button      :submit, 'Sign in',  class: 'btn btn-yes large-text btn-block'
          .has-error 
            = user_form.error :terms
          
          %label.reason.checkbox.info
            = user_form.check_box :remember_me, checked: true
            %span.check-sign
            %span.color-black.small-text.reason-content Remember me
          .col-xs-12.text-center
            %p.decorated
              %span or
            %p.no_account Already have an account?
            %b= link_to "Register", new_registration_path(resource_name), class: 'large-text'
          
