.settings-nav
  %ul
    %li.history
      = link_to 'History', my_townhall_settings_path
    %li.settings
      = link_to 'Settings', setting_user_path
    %li.notif
      = link_to 'Notifications', notifications_settings_path
    %li.terms
      = link_to 'Terms of Use', terms_settings_path
    %li.submission
      = link_to 'Submission Policy', submission_policy_settings_path
    %li.privacy
      = link_to 'Privacy Policy', privacy_settings_path
    %li.logout
      = link_to 'Logout', destroy_user_session_path, :method => :delete