.settings-nav
  %ul
    %li.history
      = active_link_to 'History', my_townhall_settings_path
    %li.settings
      = active_link_to 'Settings', setting_user_path
    %li.notif
      = active_link_to 'Notifications', setting_notifications_path
    %li.terms
      = active_link_to 'Terms of Use', terms_settings_path
    %li.submission
      = active_link_to 'Submission Policy', submission_policy_settings_path
    %li.privacy
      = active_link_to 'Privacy Policy', privacy_setting_posts_path
    %li.faq
      = active_link_to 'FAQ', faq_setting_posts_path
    %li.logout
      = active_link_to 'Logout', destroy_user_session_path, :method => :delete