.container.settings
  .left-col.desktop
    = render 'shared/settings_nav'
  .right-col.history-content
    .header.mobile
      .icon.history
      History

    - @questions.each do |question|
      .row.mobile
        .col-xs-6.color-info= link_to question.title, organization_question_result_path(question)
        .col-xs-3= question.organization.name
        .col-xs-3= days_left(question.end_date)
      .row.desktop
        .col-xs-12.color-info= link_to question.title, organization_question_result_path(question)
        .col-xs-12 #{ question.organization.name } / Ended #{ question.end_date.strftime('%d %b, %Y ') }
