.container.settings
  .left-col.desktop
    .settings-nav
      %ul
        %li.history
          = link_to 'History', my_townhall_settings_path
        %li.settings
          = link_to 'Settings', settings_settings_path
        %li.notif
          = link_to 'Notifications', notifications_settings_path
        %li.terms
          = link_to 'Terms of Use', terms_settings_path
        %li.submission
          = link_to 'Submission Policy', submission_policy_settings_path
        %li.privacy
          = link_to 'Privacy Policy', privacy_settings_path
        %li.logout
          = link_to 'Logout', destroy_user_session_path, :method => :delete

  .right-col
    .header.mobile
      .icon.settings
      Settings

    .row
      .col-xs-3 Name:
      .col-xs-6= current_user.name
      .col-xs-3.color-info Change

    .row
      .col-xs-3 Email:
      .col-xs-6= current_user.email
      .col-xs-3.color-info Change

    .row
      .col-xs-3 Password:
      .col-xs-6 ******
      .col-xs-3.color-info Change

    .row
      .col-xs-3 Age:
      .col-xs-6 [No field age in User]
      .col-xs-3.color-info Change

    .row
      .col-xs-3 Location:
      .col-xs-6 [No field location in User]
      .col-xs-3.color-info Change

    .row
      .col-xs-3 Sex:
      .col-xs-6 [No field sex in User]
      .col-xs-3.color-info Change
