.container.settings
  .left-col.desktop
    .settings-nav
      %ul
        %li.history
          = link_to 'History', my_townhall_settings_path
        %li.settings
          = link_to 'Settings', settings_settings_path
        %li.notif
          = link_to 'Notifications', notifications_settings_path
        %li.terms
          = link_to 'Terms of Use', terms_settings_path
        %li.submission
          = link_to 'Submission Policy', submission_policy_settings_path
        %li.privacy
          = link_to 'Privacy Policy', privacy_settings_path
        %li.logout
          = link_to 'Logout', destroy_user_session_path, :method => :delete

  .right-col
    .header.mobile
      .icon.terms
      Submission Policy

    .terms
      %p This is the usage agreement for user-contributed content. Please read this agreement in its entirety because it contains necessary information that will help you better understand the rules and general "good manners" that are expected when contributing content to townhall.

      %p We do not endorse or guarantee the accuracy of any contribution, regardless of whether it comes from a user, celebrity, "expert," or other source.

      %p By using townhall user-contribution features, including comments, reasons for voting, questions, ideas, priorities or any other feature, you agree to abide by the terms of this agreement.

      %p
        %strong POLICY 1: Respectful behaviour

      %p We want to encourage an open exchange of information and ideas. However, if you use inappropriate language (even when typographically obfuscated), or make potentially slanderous or libelous comments when using these tools, or engage in attacks on fellow commenters, clients or employees, or townhall staff, we reserve the right (but assume no obligation) to remove your contributions. We will make every attempt to resolve conflicts in a peaceful and timely manner, but if you will not abide by these guidelines we reserve the right to remove your account or ban you from using this free service.

      %p We believe it is absolutely possible for people from a variety of points of view to discuss issues in a civil manner and will remove comments that foster harmful incivility. If you have negative feedback about an organisation to share, please share it with the organisation first. When posting comments that contain negative feedback, try to keep your criticism constructive and remember that organisations have people working for them and many times your comments will affect their lives. If we suspect that your goal is to cause harm to an organisation or person that you feel has wronged you, your posts will be deleted and your account privileges may be affected.

      %p
        %strong POLICY 2: Illegal or morally questionable behaviour

      %p Responsibility for what is posted or contributed to this site lies with each user. You alone are responsible for the material you post. By contributing to townhall, you agree not to post any defamatory, abusive, harassing, obscene, sexual, threatening or illegal material, or any other material that infringes on the ability of others to enjoy this site, or that infringes on the rights of others.

      %p We expect that you will not use townhall to violate any copyrights, trademarks, or other intellectual property. By contributing to townhall, you are representing that you are the owner of the material, or are making your submission with the explicit consent of the owner. Submitting material that is the property of another without the specific consent of its owner is not only a violation of this agreement, but may also subject you to legal liability for infringement of copyright, trademark, or other intellectual property rights.

      %p Any user who feels that a contribution to townhall is objectionable is encouraged to <a href="http://www.townhallapp.io/">contact us</a> regarding the offending post. We have the ability to remove objectionable messages and we will make every effort to do so -- within a reasonable time frame -- if we determine that removal is necessary.

      %P
        %strong By contributing to townhall, you:

      %ul
        %li Agree not to solicit others. You agree not to contribute for the purposes of advertising or to solicit anyone to buy or sell products or services, or to make donations of any kind, or to promote other web sites, without our express written approval, or where expressly permitted.

        %li Agree not to have multiple user accounts. Each user may have only one username. If you would like to change your username, please e-mail us. Use or possession of multiple usernames will result in our banning your user account. We also reserve the right to remove postings from usernames which themselves might be considered objectionable;

        %li Agree not to upload, post, distribute, e-mail or otherwise publish or make available on townhall any libelous, defamatory, obscene, harmful, vulgar, threatening, tortuous, harassing, abusive, invasive of another's privacy, hateful, racially or ethnically objectionable, or otherwise illegal material;

        %li Agree not to upload, post, distribute, e-mail or otherwise publish or make available on townhall any content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under non disclosure agreements);

        %li Agree not to upload, post, distribute, e-mail or otherwise publish or make available on townhall any content that infringes any patent, trademark, trade secret, copyright or other proprietary rights ("Rights") of any party;

        %li Agree not to upload, post, distribute, e-mail or otherwise publish or make available on townhall any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam,""chain letters," "pyramid schemes," or any other form of solicitation; and

        %li Agree not to upload, post, distribute, e-mail or otherwise publish or make available on townhall any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware, telecommunications, or other equipment.

        %li Agree to not pretend to be someone else on townhall;

        %li Agree not to knowingly give out any personal information of other users.

      %p As noted earlier, if this type of action is thought to be happening on townhall, we reserve the right to reveal your identity (or whatever information we know about you, including your IP address(es)) in the event of a complaint or legal action arising from this type of action.

      %p
        %strong POLICY 3: Permission of use for user submitted content

      %p Your posting of content and your thoughts on townhall automatically gives townhall a royalty-free, perpetual, irrevocable, worldwide, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, disseminate, perform, transmit and display such content (in whole or part) and/or to incorporate it in other works in any form, media, or technology now known or later developed for the full term of any rights that may exist in such content. If you are not the owner of such content, you shall be deemed to have warranted that the owner of the content has expressly granted to you a similar license.

      %p We retain the right to revoke the access privileges of anyone who we believe has violated any of the terms outlined here or if such user is deemed a problem to either the site or its other users. We also reserve the right to ban any user and his or her comments from showing up on townhall, without notice.

      %p If you have any questions or comments about any of these policies please feel free to <a href="http://www.townhallapp.io/">contact us</a>.
