#setting-users-edit-container
  .header.mobile
    .icon.settings
    Settings

  = simple_form_for current_user, url: setting_user_path, wrapper: :bootstrap_horizontal_form do |user_form|
    = user_form.input       :first_name
    = user_form.input       :last_name
    = user_form.input       :email
    = user_form.input       :password, input_html: { autocomplete: :off }
    = user_form.input       :birth_year
    = user_form.input       :location, placeholder: "Where do you live?"
    = user_form.input       :gender
    .text-right
      = user_form.button      :submit



  %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places", :type => "text/javascript"}
  :javascript
    // GOOGLE MAPS AUTO COMPLETE
    var options = {
      types: ["geocode"]
    };

    var input = document.getElementById('user_location');
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    // GOOGLE MAPS AUTO COMPLETE

