.organizer-questions-detailed_stats-conatiner.toggle-vote-detail
  %h3.toggle-detail{ class: "#{vote_type} #{status}" }
    %span.glyphicon.glyphicon-circle-arrow-up
    %span.glyphicon.glyphicon-circle-arrow-down
    = "#{@question.votes.send(vote_type).count} voted \"#{vote_type.capitalize}\"" 
  
  .row.detail
    .col-md-5
      %h4 People
      .row.circle-chart-container
        .col-sm-5
          .text-center
            .circle-chart{ title: "Gender" }
              %ul
                %li{ amount: @question.gendered_votes('male', vote_type).count } Male
                %li{ amount: @question.gendered_votes('female', vote_type).count } Female
                %li{ amount: @question.gendered_votes('unknown', vote_type).count } Unknown
        .col-sm-7
          .guilder

      - top_locations = @question.top_locations(vote_type)
      - if top_locations.any? 
        .row.circle-chart-container
          .col-sm-5
            .text-center
              .circle-chart{ title: "Location" }
                %ul
                  - top_locations.each do |loc|
                    %li{ amount: loc[1] }= loc[0] || 'Unknown'
          .col-sm-7
            .guilder
      .row.circle-chart-container
        .col-sm-5
          .text-center
            .circle-chart{ title: "Age" }
              %ul
                %li{ amount: 12 } Under 25
                %li{ amount: 15 } 25-34
                %li{ amount: 25 } 35-44
                %li{ amount: 8 }  45-54
                %li{ amount: 8 }  55+
        .col-sm-7
          .guilder
    .col-md-7
      %h4 REASONS
      %p 19  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
      %p 16  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nislut aliquip ex
      %p 11  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore

           
