#organizer-questions-report-container.container
  %h1= "Data Report: #{@organization.name}"
  .row
    .col-md-4.col-md-offset-4
      = link_to 'Print Report', report_organizer_question_path(@question, format: :csv), class: 'btn btn-block btn-print'

  .question.row
    .col-md-5
      %h3 Question
      %p= @question.title
    .col-md-3
      %h3 Start date
      %p= @question.start_date.strftime('%d %B %Y')
    .col-md-4
      %h3 End date
      %p= @question.end_date.strftime('%d %B %Y')

  .clr

  .row
    .col-md-5
      %h3 Traffic
      %table.traffic
        %tr
          %th{ width: 150 } Views
          %td n/a
        %tr
          %th Uniques
          %td= @question.unique_visitors
        %tr
          %th Votes
          %td= @question.votes.count
        %tr
          %th Engagement
          %td= number_to_percentage(@question.engagement_percentage, precision: 0)
    .col-md-7
      = render partial: 'questions/chart', locals: { votes_chart: @question.vote_percentages, klass: 'desktop' }

  .clr

  = render partial: 'organizer/questions/detailed_stats', locals: {vote_type: Vote::YES, status: 'show'} 
  = render partial: 'organizer/questions/detailed_stats', locals: {vote_type: Vote::NO, status: ''} 
  = render partial: 'organizer/questions/detailed_stats', locals: {vote_type: Vote::MAYBE, status: ''} 
