= render partial: 'organizer/shared/top_menu'

= simple_form_for [:organizer, @organization], multipart: true, wrapper: :bootstrap_horizontal_form do |f|
  .col-sm-12
    %h3 Banner
    %p Your banner appears on all of your pages and needs to work on both the small screen (mobile) as well as desktop size. 
  .col-sm-9
    = image_tag @organization.banner.desktop, width: '100%'
  .col-sm-3
    %p Your banner needs to be 496 x 70 pixels. This will be resized to fit on mobile so less detail the better.
  .col-sm-12
    = f.input :banner, label: 'Upload new banner'
  
  .col-sm-12
    %h3 Email
    %p Your email address is where you will receive notifications regarding crowd contributed content.
    = f.input :email, label: 'Email'
  
  .col-sm-12
    %h3 Organization details
    %p The details for your organisation will appear in the menu for the participant to access.
  
    = f.input :name, label: 'Organizations name'
    = f.input :phone, label: 'Phone'
    = f.input :website, label: 'Website'
    = f.input :twitter, label: 'Twitter'
    = f.input :facebook, label: 'Facebook'
  
    = f.button :submit
