%tr
  %td
    %i.fa.fa-edit  
    =link_to question.title, edit_polymorphic_path([:organizer,question])
  %td= question.unique_visitors
  %td= question.votes.count
  %td= "#{question.engagement_percentage}%"
  %td= link_to 'View', organization_question_result_path(question)
  %td= link_to 'Download', '#'  