#setting-posts-faq-container
  .header.mobile
    .icon.terms
    Privacy Policy

  .terms
    %p
      %strong What is the TownHall?
    
    %p 
      The TownHall is an online engagement tool designed to help people make good decisions.
      %br
      = "Visit our website to learn more: #{link_to 'www.townhallapp.io', 'http://www.townhallapp.io'}".html_safe
     
    %p 
      %strong How does it work?
    %p
      The TownHall is a web application that can be viewed by anyone. You don't need to have registered or signed-in to view the content, however, you need to register or sign-in to vote.

    %p
      %strong Is my vote anonymous?
    %p Voting is anonymous because names are not associated with the individual voting preferences.
     
    %p
      %strong Will the highest number of votes affect what happens?
    %p Not necessarily. Some people or organisations are posting a question to gauge sentiment, rather than make final decisions.
     
    %p 
      %strong What happens when I register to use the web app?
    %p 
      When you register to use the app you can enjoy the full features of the application, such as being able to vote, see your activity history and follow organisations.
      %br
      Once you have registered you can use all instances of the TownHall without having to sign-up again.
      %br
      If you signed-in using Facebook, you can remove the TownHall at any time by going to Account Settings on Facebook, choosing Apps, and removing TownHall from the list.
     
    %p
      %strong Is my personal information private?
    
    %p
      We do collect basic information such as age, sex and location. This is used to assist our customers in understanding a little more about who is voting and contributing to the discussion.
      %br
      You have the option of receiving further information from the organisation.
     
    %p
      %strong Can my organisation use the TownHall?
    %p
      Yes, you can sign up for a free trial and also look to get your own custom installation of the TownHall. We will get in touch with you and explain how you can get the TownHall can work for you.
      %br
      = "Please email us #{mail_to 'info@townhallapp.io'} or visit our website #{link_to 'www.townhallapp.io', 'http://www.townhallapp.io'}.".html_safe
