%li.question.clearfix
  .row
    .col-xs-12
      .description
        %h1= link_to question.title, organization_question_url(question)
        .question-desc= question.description
      = link_to organization_question_url(question), class: 'img' do
        - if question.question_image.desktop
          = image_tag question.question_image.desktop, class: 'question_image'
        - else
          = image_tag 'no-image-question.png', class: 'question_image desktop'
  .row
    .col-xs-12
      .voting_stats
        .days-left
          = days_left(question.end_date)
        .vote-count
          = pluralize(question.votes.count, 'Vote')
        = link_to organization_question_url(question), class: 'vote-now btn btn-no pull-right' do
          Vote now
