%li
  %h1= link_to question.title, organization_question_url(question)
  = link_to organization_question_url(question) do
    %div#description
      = image_tag question.question_image.desktop, class: 'question_image'
  %div#voting_stats
    = days_left(question.end_date)
    %div#divider
    = pluralize(question.votes.count, 'Vote')