/ %h2= "Questions from #{@organization.name}"
/ #organization_banner{style: "background-image: url(#{image_path Question.first.cover_image.mobile})"}

#organization
  =image_tag @organization.banner.desktop, id: 'organization_banner'
  .container
    %ul.nav.nav-pills
      %li.active{:role => "presentation"}
        %a{:href => "#recent", :data => {:toggle => 'tab'}} Current
      %li{:role => "presentation"}
        %a{:href => "#popular", :data => {:toggle => 'tab'}} Popular
      %li{:role => "presentation"}
        %a{:href => "#past", :data => {:toggle => 'tab'}} Past

    .tab-content
      #recent.tab-pane.active
        %ul
          = render partial: 'organizations/question', collection: @questions || render(partial: 'organizations/no_questions')
      #popular.tab-pane
        %ul
          = render partial: 'organizations/question', collection: @pop_questions || render(partial: 'organizations/no_questions')
      #past.tab-pane
        %ul
          = render(partial: 'organizations/question', collection: @old_questions) || render(partial: 'organizations/no_questions')

    - content_for :before_footer do
      .organization.main-content
        .see-more.btn.btn-info
          %span.glyphicon.glyphicon-search
          &nbsp;&nbsp;&nbsp;See more

- content_for :open_graph do
  %meta{:content => @organization.name, :property => "og:title"}/
  %meta{:content => "Visit #{@organization.name} on townhall", :property => "og:description"}/
  %meta{:content => @organization.banner.desktop, :property => "og:image"}/
  %meta{:content => "Townhallapp.io", :property => "og:site_name"}/
