/ %h2= "Questions from #{@organization.name}" 
/ #organization_banner{style: "background-image: url(#{image_path Question.first.cover_image.mobile})"}

#organization
  =image_tag @organization.banner.desktop, id: 'organization_banner'
  .container
    %ul.nav.nav-pills
      %li.active{:role => "presentation"}
        %a{:href => "#recent", :data => {:toggle => 'tab'}} Recent
      %li{:role => "presentation"}
        %a{:href => "#popular", :data => {:toggle => 'tab'}} Popular
      %li{:role => "presentation"}
        %a{:href => "#past", :data => {:toggle => 'tab'}} Past

    .tab-content
      #recent.tab-pane.active 
        %ul
          = render partial: 'organizations/question', collection: @questions
      #popular.tab-pane
        %ul
          = render partial: 'organizations/question', collection: @questions
      #past.tab-pane
        %ul
          = render partial: 'organizations/question', collection: @questions