%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%title= content_for?(:title) ? yield(:title) : "townhall - the place to decide"
%meta{:content => content_for?(:description) ? yield(:description) : "Making decisions together just got easier! Townhall is a simple way for groups of people to vote and share opinions.", :name => "description"}/
= content_for?(:open_graph) ? yield(:open_graph) : nil
= yield(:javascript_includes)
/ %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
%link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,vietnamese', rel: 'stylesheet', type: 'text/css'}
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application'
= csrf_meta_tags

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-52794872-2', 'auto');
  ga('send', 'pageview');