%nav.navbar.navbar-default.navbar-fixed-top{"role" => "navigation"}
  .navbar-header
    = link_to 'Home', root_path, class: 'navbar-icon home', alt: 'home'
    = link_to 'Contact', '#contact-popup', class: 'navbar-icon contact', alt: 'contact', data: { toggle: 'popup' }
    = link_to 'Follow', '#follow-popup', class: 'navbar-icon follow', alt: 'rss feed', data: { toggle: 'popup' }

    #nav-toggle-btn.pull-right(data-toggle='offcanvas' data-target='#townhall-nav')
      = image_tag 'townhall-icon.png'

#townhall-nav.navmenu.navmenu-fixed-right.offcanvas
  .logo-div
    = image_tag("townhall-logo.png", class: 'logo')
  %ul
    - if user_signed_in?
      %li.history
        = link_to 'History', my_townhall_settings_path
      %li.settings
        = link_to 'Settings', settings_settings_path
      %li.notif
        = link_to 'Notifications', notifications_settings_path
      %li.terms
        = link_to 'Terms of Use', terms_settings_path
      %li.submission
        = link_to 'Submission Policy', '#'
      %li.privacy
        = link_to 'Privacy Policy', privacy_settings_path
      %li.logout
        = link_to 'Logout', destroy_user_session_path, :method => :delete
    - else
      %li
        = link_to 'Login', new_user_session_path

#contact-popup.popup
  %h4 City of Melbourne
  .row
    .col-xs-3 Mobile:
    .col-xs-9 (03) 9550 6644
  .row
    .col-xs-3 Email:
    .col-xs-9 info@melbourne.vic.gov.au
  .row
    .col-xs-3 Home:
    .col-xs-9 www.melbourne.vic.gov.au
  .row
    .col-xs-12 Follow us on:
  .row
    .col-xs-12
      = image_tag('facebook-color.png')
      = image_tag('twitter-color.png')

#follow-popup.popup
  %h4.text-center Thanks for following City of Melbourne

  .text-center
    You can change your preferences by going to
    = link_to "@townhall notifications", notifications_settings_path