%nav.navbar.navbar-default.navbar-fixed-top{"role" => "navigation"}
  .container
    .navbar-header
      = link_to 'Home', root_path, class: 'navbar-icon home', alt: 'home'
      = link_to 'Contact', root_path, class: 'navbar-icon contact', alt: 'contact'
      = link_to 'Follow', root_path, class: 'navbar-icon follow', alt: 'rss feed'

      #nav-toggle-btn.pull-right(data-toggle='offcanvas' data-target='#townhall-nav')
        = image_tag 'townhall-icon.png'
#townhall-nav.navmenu.navmenu-fixed-right.offcanvas
  = image_tag("townhall-logo.png", class: 'logo')
  %hr
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li
        = link_to 'My Townhall', '#'
      %li
        = link_to 'Settings', '#'
      %li
        = link_to 'Notifications', '#'
      %li
        = link_to 'Terms of use', '#'
      %li
        = link_to 'Submission Policy', '#'
      %li
        = link_to 'Privacy', '#'
      %li
        = link_to 'Logout', destroy_user_session_path, :method => :delete
      %li
        = link_to 'Edit Registration', edit_user_registration_path
    - else
      %li
        = link_to 'Login', new_user_session_path
