%nav.navbar.navbar-default.navbar-fixed-top{"role" => "navigation"}
  .container
    .navbar-header
      = link_to 'Home', root_path, class: 'navbar-icon home', alt: 'home'
      = link_to 'Contact', '#contact-popup', class: 'navbar-icon contact', alt: 'contact', data: { toggle: 'collapse' }
      = link_to 'Follow', '#follow-popup', class: 'navbar-icon follow', alt: 'rss feed', data: { toggle: 'collapse' }

      #nav-toggle-btn.pull-right(data-toggle='offcanvas' data-target='#townhall-nav')
        = image_tag 'townhall-icon.png'

#townhall-nav.navmenu.navmenu-fixed-right.offcanvas
  = image_tag("townhall-logo.png", class: 'logo')
  %hr
  %ul
    - if user_signed_in?
      %li
        = link_to 'My Townhall', my_townhall_settings_path
      %li
        = link_to 'Settings', settings_settings_path
      %li
        = link_to 'Notifications', notifications_settings_path
      %li
        = link_to 'Terms of use', terms_settings_path
      %li
        = link_to 'Submission Policy', '#'
      %li
        = link_to 'Privacy', '#'
      %li
        = link_to 'Logout', destroy_user_session_path, :method => :delete
      %li
        = link_to 'Edit Registration', edit_user_registration_path
    - else
      %li
        = link_to 'Login', new_user_session_path

#contact-popup.collapse.fade
  %h4 City of Melbourne
  .row
    .col-xs-3 Mobile:
    .col-xs-9 (03) 9550 6644
  .row
    .col-xs-3 Email:
    .col-xs-9 info@melbourne.vic.gov.au
  .row
    .col-xs-3 Home:
    .col-xs-9 www.melbourne.vic.gov.au
  .row
    .col-xs-12 Follow us on:
  .row
    .col-xs-12
      = image_tag('facebook-color.png')
      = image_tag('twitter-color.png')

#follow-popup.collapse.fade
  %h4.text-center Thanks for following City of Melbourne

  .text-center
    You can change your preferences by going to
    = link_to "@townhall notifications", notifications_settings_path