%nav.navbar.navbar-default.navbar-fixed-top{"role" => "navigation"}
  .navbar-header
    = link_to 'Home', root_path, class: 'navbar-icon home', alt: 'home'
    = link_to 'Contact', '#contact-popup', class: 'navbar-icon contact', alt: 'contact', data: { toggle: 'popup' }
    = link_to 'Follow', '#follow-popup', class: 'navbar-icon follow follow-organization', alt: 'rss feed', data: { toggle: 'popup', href: follow_setting_notifications_url }
    - if signed_in? && current_user.role == 'organizer' && current_user == @organization.user
      = link_to 'Admin', organizer_dashboard_index_path, class: 'navbar-icon admin', alt: 'admin area', data: { toggle: 'popup', href: follow_setting_notifications_url }
        
    #nav-toggle-btn.pull-right(data-toggle='offcanvas' data-target='#townhall-nav-mobile')
      .nav-toggle-icon

  #townhall-nav.navmenu.navmenu-fixed-right.offcanvas
    .logo-div
      = image_tag("townhall-logo.png", class: 'logo')
    %ul
      - if user_signed_in?
        %li.history
          = active_link_to 'History', my_townhall_settings_path
        %li.settings
          = active_link_to 'Settings', setting_user_path
        %li.notif
          = active_link_to 'Notifications', setting_notifications_path
        %li.terms
          = active_link_to 'Terms of Use', terms_settings_path
        %li.submission
          = active_link_to 'Submission Policy', submission_policy_settings_path
        %li.privacy
          = active_link_to 'Privacy Policy', privacy_setting_posts_path
        %li.faq
          = active_link_to 'FAQ', faq_setting_posts_path
        %li.logout
          = active_link_to 'Logout', destroy_user_session_path, :method => :delete
      - else
        %li.login
          = active_link_to 'Login', new_user_session_path

#contact-popup.popup
  %h4=@organization.name.capitalize
  .row
    .col-xs-3 Phone:
    .col-xs-9= @organization.phone || 'NA'
  .row
    .col-xs-3 Email:
    .col-xs-9= @organization.email || 'NA'
  .row
    .col-xs-3 Website:
    .col-xs-9= @organization.website || 'NA'
  - if @organization.facebook.present? || @organization.twitter.present?
    .row
      .col-xs-12 Follow us on:
    .row
      .col-xs-12
        - if @organization.facebook.present?
          = link_to @organization.facebook do
            = image_tag('facebook-color.png')
        - if @organization.twitter.present?
          = link_to @organization.twitter do
            = image_tag('twitter-color.png')

#follow-popup.popup
  %h4.text-center= "Thanks for following #{@organization.name}"

  .text-center
    You can change your preferences by going to
    = link_to "@townhall notifications", setting_notifications_path