!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Townhall Social"
    %meta{:content => content_for?(:description) ? yield(:description) : "Townhall Social", :name => "description"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,300italic&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/navigation' unless @not_render_nav
    = yield
