!!!
%html
  %head
    = render 'layouts/header'
  %body
    #beta_label BETA
    
    .main-content
      = render 'layouts/navigation' unless @not_render_nav
      = yield
    = yield :before_footer
    = render "layouts/footer"