!!!
%html
  %head
    = render 'layouts/header'
    = render 'shared/olark' if Rails.env.production?
  %body
    #beta_label BETA
    
    .main-content
      = render 'layouts/navigation_organizer' unless @not_render_nav
      = yield
    = yield :before_footer
    = render "layouts/footer"

