!!!
%html
  %head
    = render 'layouts/header'
  %body
    .main-content
      = render 'layouts/navigation_organizer' unless @not_render_nav
      = yield
    = yield :before_footer
    = render "layouts/footer"