!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Townhall Social"
    %meta{:content => content_for?(:description) ? yield(:description) : "Townhall Social", :name => "description"}/
    = stylesheet_link_tag 'organizer', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'organizer'
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top.bg-light
      .navbar-branding.dark
        =link_to organizer_dashboard_index_url, class: 'navbar-brand' do 
          %b Townhall Social
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          - if current_user
            %a.dropdown-toggle.fw600.p15{"data-toggle" => "dropdown", :href => "#"}
              %span= current_user.email 
              %span.caret.caret-tp.hidden-xs
            %ul.dropdown-menu.dropdown-persist.pn.w250.bg-white{:role => "menu"}
              %li.bg-light.br-b.br-light.p8
                %span.pull-left.ml10
                  %select#user-status{:style => "display: none;"}
                    %optgroup{:label => "Current Status:"}
                      %option{:value => "1-1"} Away
                      %option{:value => "1-2"} Offline
                      %option{:selected => "selected", :value => "1-3"} Online
                  .btn-group{:style => "width: 100px;"}
                    %button.multiselect.dropdown-toggle.btn.btn-default.btn-sm{"data-toggle" => "dropdown", :style => "width: 100px;", :title => "Online", :type => "button"}
                      Online
                      %b.caret
                    %ul.multiselect-container.dropdown-menu
                      %li.multiselect-item.multiselect-group
                        %label Current Status:
                      %li
                        %a{:href => "javascript:void(0);"}
                          %label.radio
                            %input{:type => "radio", :value => "1-1"}/
                            Away
                      %li
                        %a{:href => "javascript:void(0);"}
                          %label.radio
                            %input{:type => "radio", :value => "1-2"}/
                            Offline
                      %li.active
                        %a{:href => "javascript:void(0);"}
                          %label.radio
                            %input{:type => "radio", :value => "1-3"}/
                            Online
                %span.pull-right.mr10
                  %select#user-role{:style => "display: none;"}
                    %optgroup{:label => "Logged in As:"}
                      %option{:value => "1-1"} Client
                      %option{:value => "1-2"} Editor
                      %option{:selected => "selected", :value => "1-3"} Admin
                  .btn-group{:style => "width: 100px;"}
                    %button.multiselect.dropdown-toggle.btn.btn-default.btn-sm{"data-toggle" => "dropdown", :style => "width: 100px;", :title => "Admin", :type => "button"}
                      Admin
                      %b.caret
                    %ul.multiselect-container.dropdown-menu.pull-right
                      %li.multiselect-item.multiselect-group
                        %label Logged in As:
                      %li
                        %a{:href => "javascript:void(0);"}
                          %label.radio
                            %input{:type => "radio", :value => "1-1"}/
                            Client
                      %li
                        %a{:href => "javascript:void(0);"}
                          %label.radio
                            %input{:type => "radio", :value => "1-2"}/
                            Editor
                      %li.active
                        %a{:href => "javascript:void(0);"}
                          %label.radio
                            %input{:type => "radio", :value => "1-3"}/
                            Admin
                .clearfix
              %li.of-h
                %a.fw600.p12.animated.animated-short.fadeInUp{:href => "#"}
                  %span.fa.fa-envelope.pr5
                  Messages
                  %span.pull-right.lh20.h-20.label.label-warning.label-sm 2
              %li.br-t.of-h
                %a.fw600.p12.animated.animated-short.fadeInUp{:href => "#"}
                  %span.fa.fa-user.pr5
                  Friends
                  %span.pull-right.lh20.h-20.label.label-warning.label-sm 6
              %li.br-t.of-h
                %a.fw600.p12.animated.animated-short.fadeInDown{:href => "#"}
                  %span.fa.fa-gear.pr5
                  Account Settings
              %li.br-t.of-h
                %a.fw600.p12.animated.animated-short.fadeInDown{:href => "#"}
                  %span.fa.fa-power-off.pr5
                  Logout
    .admin-form.mw1100.center-block.theme-primary
      = yield
