!!!
%html
  %head
    = render 'layouts/header'
  %body
    .main-content
      = render 'layouts/navigation' unless @not_render_nav
      
      .container.settings
        .left-col.desktop
          = render "shared/settings_nav"
        .right-col
          = yield

    = yield :before_footer
    = render "layouts/footer"