%h3.login_header.text-center Make your vote COUNT and UNLOCK cool features !
.container.login
  .row
    .col-md-6.col-md-offset-3
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :bootstrap_horizontal_form)  do |user_form|
        = user_form.input       :email
        = user_form.input       :password

        .row.form-group
          .col-xs-8.col-xs-offset-2.text-center
            %p 
              %label.reason.checkbox.info
                = user_form.check_box :terms
                %span.check-sign
                %span.color-black.small-text.reason-content By registering you are accepting the townhall 
              .has-error 
                = user_form.error :terms
              
              = link_to 'Terms of Use', root_path
            = user_form.button      :submit, 'Register',  class: 'btn btn-yes large-text'

            %label.reason.checkbox.info
              = user_form.check_box :remember_me, checked: true
              %span.check-sign
              %span.color-black.small-text.reason-content Remember me
      .col-xs-12.text-center
        %p.decorated
          %span or
        %p.no_account Already have an account?
        = link_to "Sign in", new_session_path(resource_name), class: 'large-text'